form{
	font-family: 'Josefin Sans', sans-serif;
	color: #555753; 
}
table{
	font-family: 'Josefin Sans', sans-serif;
	color: #555753; 

}
figcaption{
	font-family: 'Josefin Sans', sans-serif;
	color: #555753; 

}
video{
	font-family: 'Josefin Sans', sans-serif;
	color: #555753; 

}
footer{
	font-family: 'Josefin Sans', sans-serif;
	color: #555753; 

}